.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.poster {
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  place-self: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title {
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.overview {
  line-height: 1.5;
  font-size: 20px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

.link {
  margin-top: 10px;
}
