.nav {
  background-color: #2d2d2d;
  position: fixed;
  top: 30px;
  padding: 20px 40px;
  border-radius: 50px;
  right: 5%;
  z-index: 10;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav ul li {
  list-style: none;
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}

.nav ul li button {
  all: unset;
  color: inherit;
}

.nav ul li button:hover {
  cursor: pointer;
  text-decoration: underline;
}
